.newlist{
    display: flex;
    width: 100%;
    position: relative;
             &.true{
                  background-color: grey;
                  input,select{
                     background-color: grey;
                  }
             }
             .true{
                 position: absolute;
                 top: 40%;
                 left:50%;
                 z-index: 10;
                 color: white;     
             }
             .false{
                display: none;
             }

    

    .newmoviecontainer{
        flex:6;

        .top{
            padding: 20px;
            display: flex;
            margin: 10px auto; 
            width: 80%;
            gap: 10px;
            

            .left{
                 flex: 1;
                -webkit-box-shadow: 1px 6px 11px 4px rgba(0,0,0,0.29); 
                box-shadow: 1px 6px 11px 4px rgba(0,0,0,0.29);
                padding: 15px 5px;

                    .lefttitle{
                        padding: 10px ;
                        font-size: large;
                        font-weight: 700;
                    }

                    .leftitem{
                        padding: 10px;
                        display: flex;
                        align-items:flex-start;
                    }
               
                
            }


           
            .right{
                flex: 3;
                -webkit-box-shadow: 1px 6px 11px 4px rgba(0,0,0,0.29); 
                box-shadow: 1px 6px 11px 4px rgba(0,0,0,0.29);
                

                 .rightinfo{
                    padding: 10px;

                    .title{
                        padding: 10px;
                        font-size: x-large;
                        font-weight: bold;
                        padding-left: 20px;
                        
                    }

                    form{
                        padding: 10px;
                        
                         display: flex;
                         flex-direction: column;
                        // flex-wrap: wrap;
                        // justify-content: space-around;
                        
                        
                        .forminput{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            margin-right: 10px;

                            label{
                                margin-bottom: 5px;
                                
                            }
                            .input{
                                font-size: 16px;
                                border: none;
                                border-bottom: 1px solid;
                                margin-bottom: 10px;

                                &:focus{
                                    outline: none;
                                }
                            }

                        }

                        .selectmovies{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            margin-right: 10px;

                            label{
                                margin-bottom: 5px;
                                
                            }
                            .input{
                                font-size: 16px;
                                margin-bottom: 10px;
                                padding: 10px 0;
                                height: 150px;
                                
                                &:focus{
                                    outline: none;
                                }
                               
                            }
 
                        }

                        
                           
                        button{
                            padding: 5px;
                            color:#7451f8;
                            background-color: #7551f849;
                            cursor: pointer;
                            border: 1px solid #7451f8 ;
                            border-radius: 5px;
                            width: 100px;

                        }
                    
                    }
                 }

            }

        }

        .bottom{
            -webkit-box-shadow: 1px 6px 11px 4px rgba(0,0,0,0.29); 
            box-shadow: 1px 6px 11px 4px rgba(0,0,0,0.29);
            padding: 20px;
            margin: 10px 20px;
        }
    }


}